{
	"data": {
		"path": "path/to/pkl/file",
		"shuffle": false,
		"no_target": false,
		"augmentation": false,
		"num_cached": 10
	},
	"model": {
		"name": "DeepLTE_UCF",
		"input_shape": [240, 320, 3],
		"order": 3,
		"num_frames": 7,
		"nodes": [0, 2, 4, 6],
		"targets": [1, 5],
		"interps": [1.25, 1.5, 1.75],
		"alpha": 0.1,
		"vgg_weight_file": "path/to/vgg/weight/file"
	},
	"optimization": {
		"cost_function": "mse",
		"class_weights": [],
		"method": "adam",
		"learning_rate": 1e-4,
		"annealing_factor": 1,
		"final_learning_rate": 1e-6,
		"last_iter_to_decrease": 1000,
		"momentum": 0.95,
		"gamma": 0.9,
		"epsilon": 1e-6,
		"rho": 0.95,
		"beta1": 0.9,
		"beta2": 0.99,
		"nesterov": false,
		"regularization": false,
		"regularization_type": "L2",
		"regularization_coeff": 1e-4
	},
	"training": {
		"n_epochs": 5000,
		"batch_size": 1,
		"continue": false,
		"validation_frequency": 500,
		"validation_batch_size": null,
		"extract_params": false,
		"param_file": null
	},
    "testing": {
		"batch_size": null
	},
    "result": {
        "root": "results"
    }
}